---
auth_enabled: false

# ---------------------- Limits ---------------------------
limits:
  ingestion_rate: 100000
  ingestion_burst_size: 200000

# ---------------------- MemberList -----------------------
memberlist:
  node_name: '{{ hostname }}'

# ---------------------- Server ---------------------------
server:
  http_listen_address: '0.0.0.0'
  http_listen_port: {{ cortex_listen_port | mandatory }}
  grpc_listen_address: '{{ ansible_local.tinc.vpn_ip }}'
  grpc_listen_port: {{ cortex_grpc_port | mandatory }}
  log_level: '{{ cortex_log_level }}'

# ---------------------- Storage --------------------------
storage:
  engine: 'chunks'
  cassandra:
    addresses: '{{ cassandra_nodes | join(',') | trim }}'
    port: {{ cassandra_port | mandatory }}
    SSL: false
    auth: false
    keyspace: '{{ cortex_storage_keyspace_name }}'
    consistency: '{{ cortex_storage_consistency }}'
    replication_factor: {{ cortex_storage_replication_factor }}
  index_queries_cache_config:
    redis:
      endpoint: '{{ cortex_redis_endpoint }}'
      db: {{ cortex_redis_dbs["storage"] }}

# ---------------------- Querier --------------------------
query_range:
  split_queries_by_interval: '168h'
  cache_results: true
  results_cache:
    cache:
      redis:
        endpoint: '{{ cortex_redis_endpoint }}'
        db: {{ cortex_redis_dbs["query_range"] }}

# ---------------------- Table Manager --------------------
table_manager:
  retention_deletes_enabled: true
  retention_period: '{{ cortex_storage_retention_period }}'

# ---------------------- Configs --------------------------
configs:
  database:
    # TODO use postgres
    uri: 'memory://'

# ---------------------- Ingester -------------------------
ingester:
  lifecycler:
    interface_names: {{ cortex_listen_interfaces | to_yaml }}
  walconfig:
    wal_enabled: false
    checkpoint_enabled: true
    checkpoint_duration: '30m'

# ---------------------- Frontend Worker -------------------
frontend_worker:
  frontend_address: '{{ ansible_local.tinc.vpn_ip }}:{{ cortex_grpc_port }}'

# ---------------------- Querier ---------------------------
querier:
  max_concurrent: 20
  timeout: '2m'

# ---------------------- Ruler -----------------------------
ruler:
{% if cortex_alertmanager_addr %}
  external_url: '{{ cortex_alertmanager_url | mandatory }}'
  alertmanager_url: 'http://{{ cortex_alertmanager_addr | mandatory }}:{{ cortex_alertmanager_port | mandatory }}/'
  enable_alertmanager_v2: true
{% endif %}
  rule_path: '{{ cortex_data_dir }}/rules'
  enable_api: true
  storage:
    type: local
    local:
      directory: '{{ cortex_rules_dir }}'
