[Unit]
Description="Cortex - Horizontally scalable, highly available, multi-tenant, long term Prometheus"
Documentation=https://cortexmetrics.io/
Wants=network-online.target consul.service {{ cortex_extra_after_services | join(" ") }}
After=network-online.target consul.service {{ cortex_extra_after_services | join(" ") }}
ConditionFileNotEmpty={{ cortex_config_file }}

[Service]
User={{ cortex_service_user }}
ExecStart={{ cortex_bin_path }} \
    -config.file={{ cortex_config_file }} \
    -runtime-config.file={{ cortex_runtime_file }} \
    -consul.acl-token=${CONSUL_HTTP_TOKEN}
Restart=on-failure
WorkingDirectory={{ cortex_data_dir }}
RuntimeDirectory={{ cortex_service_name }}
PermissionsStartOnly=True
LimitNOFILE=1048576
Environment=CONSUL_HTTP_TOKEN={{ cortex_consul_acl_token | mandatory }}

[Install]
WantedBy=multi-user.target
