kvstore:
  store: etcd
  etcd:
{% if cortex_etcd_pass is defined %}
    username: {{ cortex_etcd_user }}
    password: {{ cortex_etcd_pass }}
{% endif %}
    endpoints: {{ cortex_etcd_addresses | sort | to_yaml }}
