configs:
  - from: '2020-08-01'
    schema: v9
    index:
      prefix: cortex_index_
      period: 1w
    chunks:
      prefix: cortex_chunk_
      period: 1w
    store: cassandra
    object_store: cassandra
